/*Variables*/
:root{
    --color-orange: #ff9400;
}

body {
    /*disables highlighting*/
    -moz-user-select: none;
    background-color: #404040;
    font-family: 'Ubuntu', sans-serif;
}

/* disables outline on buttons when clicked */
::-moz-focus-inner {
    outline: none;
    border: 0;
}

.grid-container {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: auto auto;
}

.grid-list {
    display: grid;
    grid-gap: 8px;
    grid-auto-columns: 320px;
    grid-auto-rows: 180px;
}

.grid-item {
    position: relative;
}

.grid-item img {
    width: 100%;
    height: 100%;
    border-radius: 1%;
}

.grid-item.empty {
    color: var(--color-orange);
    padding: 16px;
}

.grid-item h2 {
    display: none;
    position: absolute;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 60%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5%;
    align-items: center;
    justify-content: center;
    transition: .3s ease;
    border-radius: 1%;
}

.overlay:hover {
    background: rgba(255, 148, 0, 0.8);
}

.btn {
    width: 48px;
    height: 48px;
    cursor: pointer;
    border: none;
    display: none;
    transition: .3s ease;
}

.star {
    background: url("../images/star.png") no-repeat center;
}

.file {
    background: url("../images/file.png") no-repeat center;
}

.x {
    background: url("../images/close.png") no-repeat center;
}

.menustar {
    background: url("../images/menustar.png") no-repeat center;
}

.menufile {
    background: url("../images/menufile.png") no-repeat center;
}

.menux {
    background: url("../images/menuclose.png") no-repeat center;
}

.plus {
    color: var(--color-orange);
}

.close {
    display: block;
    position: absolute;
    top:1%;
    right: 1%;
    background: url("../images/closeorange.png") no-repeat center;
}

.curtain {
    z-index: 1;
    /* this is needed for the scrolling case*/
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    background-color:rgba(0, 0, 0, 0.8);
    display: none;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    -moz-animation: slide-down .3s ease-out;
}

@-moz-keyframes slide-down {
    from { opacity: 0; -moz-transform: translateY(-100%); }
    to { opacity: 1; -moz-transform: translateY(0); }
}

::placeholder {
    color: white;
    font-size: xx-large;
    opacity: 1;
    font-weight: 400;
}

.curtain input {
    position: absolute;
    grid-area: 2 / 2;
    height: 30px;

    padding: 5px;
    border: none;
    outline: none;
    background: rgba(255,255,255, 0);
    font-size: xx-large;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    color: var(--color-orange);
}
.results {
    margin-left: 5px;
    margin-top: 45px;
    grid-area: 2 / 2;
    position: absolute;
    list-style-type: none;
    /*this is needed for alignment with input*/
    padding: 0;
}

.results li a {
    margin: 0;
    line-height: 25px;
    background: rgba(255,255,255, 0);
    font-size: large;
    cursor: pointer;
    color: lightgrey;
    font-weight: 300;

    /*this is needed for underlining*/
    text-decoration: none;
    position: relative;
}

.results li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    border-bottom: 1.5px solid var(--color-orange);
    transition: 0.4s;
}

.results li a:hover:after {
    width: 100%;
}

.menu {
    margin: 5px;
    display: none;
    grid-template-columns: auto auto auto;
    grid-template-rows: 48px;
    grid-column-gap: 5%;
    align-content: center;
    justify-content: center;
}

.visible {
    display: block;
}

.checkbox {
    background: url("../images/checkbox.png") no-repeat center;
    display: none;
    position: absolute;
    width: 25px;
    height: 25px;
    top:1%;
    left: 1%;
    cursor: pointer;
}

.checked {
    background: url("../images/checkedbox.png") no-repeat center;
}
